body {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 90vh; */
}
.container {
  /* margin: 2rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
