.btn-holiday {
  cursor: pointer;
  margin: 1rem;
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  background: #bee2ff;
  border: 0.2rem solid rgba(11, 0, 59, 0.906);
  border-radius: 1rem;
  color: black;
}

.btn-holiday:hover {
  background: #5c9dffc0;
}

.btn-date {
  cursor: pointer;
  margin: 1rem;
  padding: 1rem;
  font-size: 2rem;
  font-weight: bold;
  background: #010050ea;
  border: 0.2rem solid #4b4b4bc0;
  border-radius: 1rem;
  color: rgb(219, 219, 219);
}

.btn-date:hover {
  background: #5c9dffc0;
  color: black;
}
